*{
    padding: 0;
    
    margin: 0;
    text-decoration: none;
}

/* Header 1 */
.header{
    background-color: #f4f4f4 ;
}
.header-guard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    height: 50px; 
    padding-left :10px;
    padding-right: 10px;
}  
.header .itemheader{
    justify-content: center;
    align-items: center;
    display: flex;
    color: #929292;
    font-size: 13px;
}

.header .itemheader:hover{
    color: #03ac0e;
    cursor: pointer;
}
.header .itemheader img{
    width: 14px;
    margin-right: 2px;
}
.header .header-guard .item1 .navheader{
    width: 500px;
}

.navheader .ul1{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    gap: 10px;
}
.navheader .ul1 li{
    align-items: center;
}
.navheader .ul1 li a {
    
    text-decoration: none;
    list-style: none;
    font-size: 13px;
    color: #929292;
    margin: 5px;
    gap:12px;
    
}  
.navheader .ul1 li a:hover {
    color:#03ac0e;
}
/* Header 2 */
.itemheader2{
    width: 80%;
}
.iqon{
    width: 20%;
}
.header2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #f4f4f4; */
    align-items: center;

}
.header2 .itemheader2 p{
    margin: 0px 10px;
}
.header2 .itemheader2 img{
    width: 13%;
    height: 15%;
    margin-left: 1%;  
}
.header2 .itemheader2{
    display: flex;
    align-items: center;
    color: #929292;
    margin-left: 0;
    cursor: pointer;
}
.header2 .itemheader2 .search{
    display: flex;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 0;
}
.header2 .itemheader2 .search img{
    width: 28px;
    height: 28px;
    margin-right: -4%;
    z-index: 9999;
    margin-top: 2px;

}
.header2 .itemheader2 .search input{
    width:  800px;
    height: 100%;
    border: 0.7px solid #cacaca;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    padding-left: 5%;
    
}

.header2 .itemheader2 .search input:hover{
border: solid 1px #03ac0e;
}

/* iqon */
.iqon img{
    width: 15%;
    height: 15%;
    cursor: pointer;
    border-right: 1px solid #cfcfcf;
    margin-left: 10px;

}
.iqon{
    display: flex;
}
.iqon .input1{
    border: 1px solid #03ac0e;
    border-radius: 7px;
    background-color: #f4f4f4;
    cursor: pointer;
    color: #03ac0e;
    width: 70px;
    height: 30px;
    margin-right: 7px;
    margin-left: 15px;

}
.iqon .input2{
    border: 1px;
    border-radius: 7px;
    background-color: #03ac0e;
    cursor: pointer;
    color: #f4f4f4;
    width: 70px;
    height: 30px;

}
/* header3 */ 
 .header3{ 
    display: flex;
    justify-content: space-between;
    border: 1px;
    padding: 5px;
    box-shadow: 1px 3px 4px rgb(233, 233, 233);
    
}
.header3  nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 0;
    margin-left: 230px;
}

.header3 .konten nav ul li a{
    text-decoration: none;
    color: #929292;
    font-size: 13px;
    margin: 7px;
}
.header3 .konten nav ul li a:hover{
    color: #03ac0e;
}
.header3 .lokasi{  
    width: 15%; 
    color: #929292;
    cursor: pointer;
    display: flex;
    gap: 15px;

}
.header3 .lokasi .kota{
    font:bold;
    color: black;
    font-weight: bold;
}
/* isi */
.halaman1{
    text-decoration: none;
}
.halaman1 h2{
    margin-bottom: 10px;
}

h2{
    margin-left: 50px;
    width: 50%;
}
.isi {
    display: flex;
    flex-direction: row;
}
.isi {
    display: flex;
    flex-direction: row;
}
.isi .card1{
    display: flex;
    flex-direction: column;
    width: 13%;
    height: auto;
    margin-left: 50px;
    border-radius: 5px;
    border: 1px;
    padding: 10px;
    box-shadow: 1px 1px 3px 4px rgb(233, 233, 233);
}
.isi .card1 .kota1{
    color: #929292;
    font-size: 15px;
    margin-top: 2px;
}
.isi .card1 nav ul li .k1{
    color: black;
}
.isi .card1 .aaa{
    width: 175px;
    height: 175px;
}
.isi .card1:hover{
    transform :scale(1.05);
}
.isi .card2{
    display: flex;
    flex-direction: column;
    width: 13%;
    height: auto;
    margin-left:10px ;
    border-radius: 5px;
    border: 1px;
    padding: 10px;
    box-shadow: 1px 1px 3px 4px rgb(233, 233, 233);

}
.isi .card2 .kota2{
    color: #929292;
    font-size: 15px;
    margin-top: 2px;
}
.isi .card2:hover{
    transform :scale(1.05);
}
.isi .card3{
    display: flex;
    flex-direction: column;
    width: 13%;
    height: auto;
    margin-left:10px ;
    border-radius: 5px;
    border: 1px;
    padding: 10px;
    box-shadow: 1px 1px 3px 4px rgb(233, 233, 233);
}
.isi .card3 .kota3{
    color: #929292;
    font-size: 15px;
    margin-top: 2px;
}
.isi .card3:hover{
    transform :scale(1.05);
}
.isi .card4{
    display: flex;
    flex-direction: column;
    width: 13%;
    height: auto;
    margin-left:10px ;
    border-radius: 5px;
    border: 1px;
    padding: 10px;
    box-shadow: 1px 1px 3px 4px rgb(233, 233, 233);
}
.isi .card4 .kota4{
    color: #929292;
    font-size: 15px;
    margin-top: 2px;
}
.isi .card4:hover{
    transform :scale(1.05);
}
.isi .card5{
    display: flex;
    flex-direction: column;
    width: 13%;
    height: auto;
    margin-left:10px ;
    border-radius: 5px;
    border: 1px;
    padding: 10px;
    box-shadow: 1px 1px 3px 4px rgb(233, 233, 233);
}
.isi .card5 .kota5{
    color: #929292;
    font-size: 15px;
    margin-top: 2px;
}
.isi .card5:hover{
    transform :scale(1.05);
}
.isi .card6{
    display: flex;
    flex-direction: column;
    width: 13%;
    height: auto;
    margin-left:10px ;
    border-radius: 5px;
    border: 1px;
    padding: 10px;
    box-shadow: 1px 1px 3px 4px rgb(233, 233, 233);

}
.isi .card6 .kota6{
    color: #929292;
    font-size: 15px;
    margin-top: 2px;
}
.isi .card6:hover{
    transform :scale(1.05);
}
li {
    list-style: none;
}
@media screen and (max-width: 390px)  {
    .header{
        display: none;
    }
    .header2{
        margin-top: 10px;
        margin-left: 50px;
        margin-bottom: 10px;
    }
    .itemheader2 img{
       display: none;
    }
    .search {
        display: grid;
        margin-left: -20px;
        border: 1px solid #929292;
        margin-top: 10px;
    }
    .search input{
        padding-left: 40px;
    }
    .itemheader2 p{
        display: none;
    }
    .iqon img{
        display:flex;
        width: 30px;
        height: 30px;
        border: none;
        margin-top: 7px;
        margin-left: -15px;
    }
    .iqon .input1{
        display: none;
    }
    .iqon .input2{
        display: none;
    }
    .header3 {
        display: none;
    }
    .halaman1 .judul{
        display: none;
    }
    .isi {
        display: flex;
        flex-wrap: wrap;
    }
    .isi .card1{
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        width: 135px;
        height: auto;
        border-radius: 5px;
        border: 1px;
        padding: 10px;
        box-shadow: 1px 1px 3px 4px rgb(233, 233, 233);
    }
    .isi .card1 .kota1{
        color: #929292;
        font-size: 15px;
        margin-top: 2px;
    }
    .isi .card1 nav ul li .k1{
        color: black;
    }
    .isi .card1 .aaa{
        width: 130px;
        height: 130px;
    }
    
    .isi .card2{
        display: flex;
        flex-direction: column;
        width: 135px;
        height: auto;
        margin-left:10px ;
        border-top: 10px;
        border-radius: 5px;
        border: 1px;
        padding: 10px;
        box-shadow: 1px 1px 3px 4px rgb(233, 233, 233);
    
    }
    .isi .card2 .kota2{
        color: #929292;
        font-size: 15px;
        margin-top: 2px;
    }
    .isi .card3{
        display: flex;
        flex-direction: column;
        width: 135px;
        height: auto;
        margin-left: 25px;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px;
        padding: 10px;
        box-shadow: 1px 1px 3px 4px rgb(233, 233, 233);
    
    }
    .isi .card3 .kota3{
        color: #929292;
        font-size: 15px;
        margin-top: 2px;
    }
    .isi .card4{
        display: flex;
        flex-direction: column;
        width: 135px;
        height: auto;
        margin-left:10px ;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px;
        padding: 10px;
        box-shadow: 1px 1px 3px 4px rgb(233, 233, 233);
    
    }
    .isi .card4 .kota4{
        color: #929292;
        font-size: 15px;
        margin-top: 2px;
    }
    .isi .card5{
        display: flex;
        flex-direction: column;
        width: 135px;
        height: auto;
        margin-left: 25px;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px;
        padding: 10px;
        box-shadow: 1px 1px 3px 4px rgb(233, 233, 233);
    
    }
    .isi .card5 .kota5{
        color: #929292;
        font-size: 15px;
        margin-top: 2px;
    }
    .isi .card6{
        display: flex;
        flex-direction: column;
        width: 135px;
        height: auto;
        margin-top: 10px;
        margin-left:10px ;
        border-radius: 5px;
        border: 1px;
        padding: 10px;
        box-shadow: 1px 1px 3px 4px rgb(233, 233, 233);
    
    }
    .isi .card6 .kota6{
        color: #929292;
        font-size: 15px;
        margin-top: 2px;
}
}